@page "/"


<PageTitle>Home</PageTitle>

<h2 class="mb-4">🔁 WebSocket vs gRPC Test</h2>

<div style="display: flex; gap: 20px;">
    <div style="flex: 1; border: 1px solid #ccc; padding: 20px; border-radius: 8px;">
        <WebSocket />
    </div>

    <div style="flex: 1; border: 1px solid #ccc; padding: 20px; border-radius: 8px;">
        <Grpc />
    </div>
</div>